BetBlack/BetBlack/Temp/
BetBlack/BetBlack/Library/
BetBlack/BetBlack/Logs/AssetImportWorker0.log
BetBlack/BetBlack/Logs/AssetImportWorker0-prev.log
BetBlack/BetBlack/Logs/AssetImportWorker1.log
BetBlack/BetBlack/Logs/AssetImportWorker1-prev.log
BetBlack/BetBlack/Logs/Packages-Update.log
BetBlack/BetBlack/Logs/shadercompiler-AssetImportWorker0.log
BetBlack/BetBlack/Logs/shadercompiler-UnityShaderCompiler.exe0.log
BetBlack/BetBlack/Logs/shadercompiler-UnityShaderCompiler.exe1.log
BetBlack/BetBlack/Logs/shadercompiler-UnityShaderCompiler.exe10.log
BetBlack/BetBlack/Logs/shadercompiler-UnityShaderCompiler.exe11.log
BetBlack/BetBlack/Logs/shadercompiler-UnityShaderCompiler.exe2.log
BetBlack/BetBlack/Logs/shadercompiler-UnityShaderCompiler.exe3.log
BetBlack/BetBlack/Logs/shadercompiler-UnityShaderCompiler.exe4.log
BetBlack/BetBlack/Logs/shadercompiler-UnityShaderCompiler.exe5.log
BetBlack/BetBlack/Logs/shadercompiler-UnityShaderCompiler.exe6.log
BetBlack/BetBlack/Logs/shadercompiler-UnityShaderCompiler.exe7.log
BetBlack/BetBlack/Logs/shadercompiler-UnityShaderCompiler.exe8.log
BetBlack/BetBlack/Logs/shadercompiler-UnityShaderCompiler.exe9.log
